<!DOCTYPE HTML>
<html>
  <head>
    <title>Elm Counter Sample</title>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/elm.js"></script>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  
  <body>
    <main></main>
    <script type="text/javascript">
      var main = Elm.Main.init({ node: document.querySelector('main') });
    </script>
  </body>
</html>